.button-link {
    background: transparent;
    border: none;
    color: #593CFB;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    line-height: unset;
    height: auto;
    padding: 0;
    white-space: normal;
}