.app-header {
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(181, 180, 186, .25);
}

.header-logo-img {
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.header-logo-txt {}

.logo-name {
    align-self: center;
}

.nav {
    width: 25%;
    justify-content: space-around;
    margin: 0px;
    height: 50px;
    text-decoration: none;
    margin-right: 40px;
    a:hover {
        color: blue;
    }
    img {
        width: 50px;
    }
}