.car-list {
    margin: 0 auto;
    flex-direction: column;
}

.title-list {
    align-self: center;
}

.cards-container {
    justify-content: center;
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(3, minmax(300px, 350px));
    gap: 10px
}

.car-card {
    width: 100%;
}

