.profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    .owned-cars{
     grid-column: span 2;
     text-align: center;
     display: grid;
     margin-top: 40px;
    }
    .profile-nav *{
     margin-top: 40px;
     font-size: 2rem;
     
    }
    .profile-nav h3{
        box-shadow: inset 0 -1px 0 0 #dddde5;
    }
    .profile-nav h3:hover{
        cursor: pointer;
        color: gray;
    }
}