.home{
    *{
       font-family: Opensans; 
    }
}

.bgc-img {
    background-image: url('~@/assets/testhero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.text-img{
    margin: auto;
    color: lightyellow;
    padding: 80px;
    text-align: center;
    text-transform: none;
    h1{
        font-size: 70px;
        margin: 0 auto;
        margin-top: 20px;
    }
    h3{
        font-size: 25px;
        margin: 0;
        margin-bottom: 15px;
    }
    
}
.browse-category{   
    text-align: center; 
    img{
        border-radius: 5px 0 0;
        
    }
    div{
        box-shadow: 0px 10px 15px 0px rgba(222,215,222,1);
        border-radius: 5px;
        transition: box-shadow 0.3s;
        // height: 380px;
    }
    div:hover{ 
        box-shadow: 0px 15px 15px 0px rgba(222,215,222,1);
        cursor: pointer;
    }
    div:hover h3{
        color: blue;
    }
    h3{
        font-size: 1.5rem;
    }

}
.might-like-category{
    display: grid;
    // grid-template-columns: repeat(4 ,1fr);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    // grid-template-rows: repeat(auto-fill,1fr);
    // grid-template-rows: repeat(4,100px);
    grid-row-gap: 15px;
    grid-column-gap: 10px;

    div{
        text-align: center;
        transition: opacity 0.3s
    }
    div:hover{
        opacity: 0.9;
        cursor: pointer;
    }
    h3{
        margin: 0 auto;
    }
}
.about-info{
    div{
        margin: 0;
        color: #121214;
        margin-bottom: 12px;
        font-size: 16px;
        letter-spacing: 0;
        width: 300px;
    }
}
.book-bar{
    height: 40px;
    background-color: white;
    width: 500px;
    margin: 0 auto;
    text-align: left;
    border-radius: 15px;
    margin-top: 150px;

    input{
        line-height:  2.8;
        border: 0;
        margin-left: 20px;
    }
    input:focus{
        outline: none;
    }
}