.signin-button {
    width: 100%;
    color: white;
    background-color: black;
    margin-top: 10px;
    height: 50px;
    line-height: 49px;
    font-size: 18px;
    padding: 0 19px;
    cursor: pointer;
}